body{
	background: url(/images/login.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-bottom: 80px;
}
.img-responsive_2{
	position:fixed;
	top: 90%;
	height: 10%;
	width: 10%;
}
#contain{
	margin-top: 5%;
}